<% layout("/layouts/boilerplate") %>
<body>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h3>Edit your Listing</h3>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
                    <div class="valid-feedback">Title Looks Good!</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" name="listing[description]"  class="form-control" required><%= listing.description %>
                    </textarea>
                    <div class="invalid-feedback">Please enter short Description</div>
                </div>
                
                <div class="mb-3">
                    <label for="image" class="form-label">Current Image</label>
                    <img src="<%= originalImageUrl %>" class="img-fluid rounded" alt="Current Image">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input type="file" name="listing[image]" class="form-control">
                </div>
        
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" value="<%= listing.price %>" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control" required>
                        <div class="invalid-feedback">Country should be valid</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control" required>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>

                <div class="mb-3">
                <label for="category" class="form-label">Choose a Category</label>
                <select name="listing[category]" id="category" class="form-select" required>
                    <option value="" disabled selected hidden>--Select an option--</option>
                    <option value="mountains">Mountains</option>
                    <option value="arctic">Arctic</option>
                    <option value="farms">Farm</option>
                    <option value="deserts">Desert</option>
                    <option value="camp">camp</option>
                    <option value="rooms">Rooms</option>
                    <option value="iconic-cities">Iconic Cities</option>
                    <option value="castles">Castle</option>
                    <option value="pools">Pool</option>
                    <option value="dome">Dome</option>
                    <option value="boat">Boats</option>
                </select>
            </div>

            <button class="btn btn-dark edit-btn mt-3 mb-3">Edit</button>
            </div></div>
    </form>
</body>